In [ ]:
Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [3]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [6]:
df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [19]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
#then find the output for both new_df.loc[2] and new_df.iloc[2].
import pandas as pd
data=({'course_name':['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer'],
'duration': [2,3,6,4]})
df = pd.DataFrame(data)
df_reindexed = df.reindex([3,0,1,2])
print(df_reindexed)
df = pd.DataFrame(data)
new_df = df.reindex(reindex)
print(new_df)
print(new_df.loc[2])
print(new_df.iloc[2])

'''The output for new_df.loc[2] will display the row with label 2, while the output for new_df.iloc[2] will display the row at index position 2.'''

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [34]:
'''Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’'''
#Ans:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
print("mean of each and every column:- ","\n",df1.mean())
std_dev_column_2 = df1['column_2'].std()

# Print the standard deviation
print("Standard Deviation of column_2:")
print(std_dev_column_2)

mean of each and every column:-
 column_1    0.202797
column_2    0.556627
column_3    0.843872
column_4    0.425300
column_5    0.576817
column_6    0.601511
dtype: float64
Standard Deviation of column_2:
0.3135796522813869

In [36]:
'''Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.'''
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a DataFrame
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replace data in the second row of 'column_2' with a string variable
df1.at[2, 'column_2'] = 'sanju'

# Calculate the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()

# Print the mean
print("Mean of column_2:")
print(mean_column_2)

'''Explanation: the DataFrame has a column 'A' containing numeric values. If you try to replace a value in column 'A' with a string ('string_variable' in this case), you would encounter a type error. The error message would indicate that you are trying to assign a value of an incompatible type to the column.'''

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
'''Q6. What do you understand about the windows function in pandas and list the types of windows
functions?'''
In pandas, the "window functions" refer to a group of operations that perform calculations on a specific window of data in a DataFrame or Series. These functions allow you to compute various statistics and apply transformations within a defined window, which can be a fixed-size window or a rolling window based on a specified number of preceding or following values.

Window functions are typically used in time series analysis, data smoothing, moving averages, and other analytical tasks that require analyzing data within a specific window. They provide a flexible way to perform calculations on subsets of data, considering the order and arrangement of the data points.

Pandas offers several types of window functions, including:

Rolling Windows:

rolling(): Computes statistics over a sliding or rolling window of fixed size.
Expanding Windows:

expanding(): Calculates statistics from the start of the data up to the current point, gradually expanding the window.
Exponentially Weighted Windows:

ewm(): Computes exponentially weighted statistics for each element, giving more weight to recent observations.
GroupBy Windows:

groupby(): Performs window functions on data grouped by a specific column or set of columns.

In [41]:
'''Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]'''
import pandas as pd
from datetime import datetime

# Create a Timestamp object with the current date and time
current_datetime = pd.Timestamp(datetime.now())

# Extract the current month and year from the Timestamp
current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 6
Current Year: 2023

In [42]:
'''Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.'''

import pandas as pd

# Prompt the user to enter the first date
date1_str = input("Enter the first date (YYYY-MM-DD): ")

# Prompt the user to enter the second date
date2_str = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input strings to datetime objects
date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

# Calculate the time difference between the dates
time_diff = date2 - date1

# Extract the days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

# Display the result
print("Difference between the two dates:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD):  2023-06-06
Enter the second date (YYYY-MM-DD):  2001-04-23

Difference between the two dates:
Days: -8079
Hours: 0
Minutes: 0

In [ ]:
'''Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.'''

In [ ]:
'''Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.'''
#Ans
import pandas as pd
data=input("Enter a link of a csv file ")
df=pd.read_csv(data)
df.plot()

In [ ]:
'''Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.'''
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Prompt the user to enter the column name to convert
column_name = input("Enter the column name to convert to categorical data type: ")

# Prompt the user to enter the category order
category_order_str = input("Enter the category order (comma-separated): ")
category_order = [category.strip() for category in category_order_str.split(",")]

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the DataFrame by the categorical column
df_sorted = df.sort_values(column_name)

# Display the sorted data
print("Sorted Data:")
print(df_sorted)

In [ ]:
'''Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.'''
import pandas as pd
data=input("Enter a link of csv file :")
print(data.mean())
print(data.median())
print(data.std())